{{define "body"}}
{{$page := .}}
<nav class="breadcrumbs">
  <p><a href="{{.Vw.Base}}blist">Blacklist</a>&nbsp;&nbsp;&#8594;&nbsp;
    <a href="{{.Vw.Base}}blist">Email Address</a>&nbsp;&nbsp;&#8594;&nbsp;
    {{if $page.Remove}}
    <strong>Removed</strong>
    {{else}}
    <strong>Added</strong>
    {{end}}
  </p>
</nav>
<div class="gridwrap">
<div class="theemailaddr">
  <div class="notice">
    {{if $page.Remove}}
    <p>The email address <strong>{{$page.Email}}</strong>&nbsp;has been removed from the global BlackListMe database.</p>
    {{else}}
    <p>The email address <strong>{{$page.Email}}</strong>&nbsp;has been added to the global BlackListMe database.</p>    
    {{end}}
  </div>
</div>
</div>
{{end}}
