<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>BlackListMe</title>
  <link href="{{.Vw.Base}}favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="{{.Vw.Base}}css/style.css" rel="stylesheet" type="text/css">
  <link href="{{.Vw.Base}}css/styleaccount.css" rel="stylesheet" type="text/css">
  <link href="{{.Vw.Base}}css/styleulist.css" rel="stylesheet" type="text/css">
  <link href="{{.Vw.Base}}css/stylefaq.css" rel="stylesheet" type="text/css">    
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="{{.Vw.Base}}js/jquery-3.1.0.slim.min.js" type="text/javascript"></script>
  <script src="{{.Vw.Base}}js/accvallib.js" type="text/javascript"></script>
</head>
<body>
{{$view := .}}
<div id="container">
<div id="header">
  <div class="topline">
    <ul>
      <li><a href="#" >Support<span class="ddown">+</span></a>
        <div class="ddwrap">
          <div class="ddpanel">
            <ul>
              <li><a href="{{.Vw.Base}}support/faq">F.A.Q.</a></li>
              <li><a href="{{.Vw.Base}}support/status">Status Updates</a></li>
              <li><a href="{{.Vw.Base}}support/knowledgebase">Knowledgebase</a></li>
              <li><a href="{{.Vw.Base}}support/openticket">Submit Ticket</a></li>
              <li><a href="{{.Vw.Base}}support/ticketstatus">Ticket Status</a></li>
              <li><a href="{{.Vw.Base}}support/reportabuse">Report Abuse</a></li>              
            </ul>
          </div>
        </div>        
      </li>
{{if .Vw.Username }}
      <li class="usermenu"><a href="#"><span class="username">{{.Vw.Username}}</span><span class="ddown">+</span></a>
        <div class="ddwrap">
          <div class="ddacct">
            <h3>Your Account</h3>
            <div class="ddacct2">
            <ul>
              <li><p><span class="left">CUSTOMER</span><span class="right">{{.Vw.UserFirstname}}&nbsp;{{.Vw.UserLastname}}</span></p></li>
              <li><p><span class="left">USERNAME</span><span class="right">{{.Vw.Username}}</span></p></li>
              <li><hr></li>
              <li><a href="{{.Vw.Base}}ulist/dashboard">Dashboard</a></li>
              <li><a href="{{.Vw.Base}}ulist/profile">Profile</a></li>
              <li><a href="{{.Vw.Base}}account/logout">Sign Out</a></li>
            </ul>
            </div>
          </div>
        </div>
      </li>
{{else}}
      <li><a href="{{.Vw.Base}}account/login" >Sign In<span class="ddown">+</span></a>
        <div class="ddwrap">
          <div class="ddsignin">
            <form name="signin" method="POST" action="{{.Vw.Base}}account/login">
              <input type="text" name="username" placeholder="Username" autocapitalize="off" autocorrect="off" maxlength="20">
              <input type="password" name="password" placeholder="Password" maxlength="100">
              <button type="submit">Sign In</button>
              <a href="{{.Vw.Base}}account/forgot">Forgot your password?</a>              
            </form>
          </div>
        </div>
      </li>
      <li><a href="{{.Vw.Base}}account/register" >Sign Up</a></li>
{{end}}
    </ul>
  </div><!-- topline -->
  <div class="banner">
    <img src="{{.Vw.Base}}img/groundh2.png">
    <a href="{{.Vw.Base}}"><span class="logo">BlackListMe</span></a>
    <div class="nav">
    <ul>
      <li><a href="#" >Services<span class="ddown">+</span></a>
        <div class="ddwrap">
          <div class="ddpanel">
            <ul>
              <li><a href="#">Email BlackList</a></li>
              <li><a href="#">Domain BlackList</a></li>              
              <li><a href="#">Private BlackList</a></li>
              <li><a href="#">API</a></li>
            </ul>
          </div>
        </div>        
      </li>
      <li><a href="#" >Apps<span class="ddown">+</span></a></li>
      <li><a href="#" >Account<span class="ddown">+</span></a>
        <div class="ddwrap">
          <div class="ddpanel lower">
            <ul>
              <li><a href={{if .Vw.User}}"{{.Vw.Base}}ulist/dashboard"{{else}}"{{.Vw.Base}}account/login"{{end}}>Dashboard</a></li>
              <li><a href={{if .Vw.User}}"{{.Vw.Base}}dlist/index"{{else}}"{{.Vw.Base}}account/login"{{end}}>Domain BlackLists</a></li>              
              <li><a href={{if .Vw.User}}"{{.Vw.Base}}ulist/plist"{{else}}"{{.Vw.Base}}account/login"{{end}}>Private BlackList</a></li>
              <li><a href={{if .Vw.User}}"{{.Vw.Base}}ulist/profile"{{else}}"{{.Vw.Base}}account/login"{{end}}>Profile</a></li>
            </ul>
          </div>
        </div>        
      </li>
      <li><a href="{{.Vw.Base}}blist/dump" >Dump</a></li>      
    </ul>
  </div>           
  </div>       
</div><!-- header -->
<div id="main">
{{template "body" .}}
<div style="clear: both;"></div>
</div><!-- main -->
</div><!-- container -->
</body>
</html>

{{define "umenu"}}
<div id="umenu">
  <ul>
    <li {{if eq .Vw.Action "dashboard"}}class="active"{{end}}><a href="{{.Vw.Base}}ulist/dashboard">Dashboard</a></li>
    <li {{if eq .Vw.Action "profile"}}class="active"{{end}}><a href="{{.Vw.Base}}ulist/profile">Profile</a></li>
    <li {{if eq .Vw.Action "apikey"}}class="active"{{end}}><a href="{{.Vw.Base}}ulist/apikey">API Key</a></li>
    <li {{if eq .Vw.Controller "dlist"}}class="active"{{end}}><a href="{{.Vw.Base}}dlist/index">Domain Lists</a></li>    
    <li {{if eq .Vw.Action "plist"}}class="active"{{end}}><a href="{{.Vw.Base}}ulist/plist">Private List</a></li>
  </ul>
</div>
{{end}}
