{{define "body"}}
{{$page := .}}
<div id="ulist">
  <div id="umenu">
    <ul>
      <li><a href="{{.Vw.Base}}ulist/dashboard">Dashboard</a></li>
      <li class="active"><a href="{{.Vw.Base}}ulist/profile">Profile</a></li>
      <li><a href="#">Email Blacklist</a></li>
      <li><a href="#">Personal List</a></li>      
      <li><a href="#">Domain Lists</a></li>      
  </div>
  <div id="ucontent">
    <div class="utable">    
      <div class="row"><h1>Personal Info</h1></div>
      <div class="row"><hr class="hrg"></div>
      <div class="row">
        <div class="cell" style="width: 20%"><img src="{{.Vw.Base}}img/groundh2.png" style="height:auto;width:90%;"></div>
        <div class="cell" style="width: 80%">
          <div class="row">
            <div class="cell w1"><strong>Name</strong></div>
            <div class="cell w2">{{.Vw.UserFirstname}}&nbsp{{.Vw.UserLastname}}</div>
            <div class="cell w3"><a href="#" class="btn">Modify</a></div>
          </div>
          <div class="row"><hr class="hrg"></div>          
          <div class="row">
            <div class="cell w1"><strong>Username</strong></div>
            <div class="cell w2">{{.Vw.Username}}<br>Since&nbsp;{{.MemberSince}}</div>
            <div class="cell w3">&nbsp;</div>            
          </div>
          <div class="row"><hr class="hrg"></div>                    
          <div class="row">
            <div class="cell w1"><strong>Email</strong></div>
            <div class="cell w2">{{.Vw.Useremail}}</div>
            <div class="cell w3"><a href="#" class="btn">Modify</a></div>
          </div>
          <div class="row"><hr class="hrg"></div>                              
          <div class="row">
            <div class="cell w1"><strong>Password</strong></div>
            <div class="cell w2"><strong>&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;</strong></div>
            <div class="cell w3"><a href="{{.Vw.Base}}account/password" class="btn">Modify</a></div>
          </div>
          <div class="row">&nbsp;</div>
        </div>
      </div>
      <div class="row"><hr></div>      
    </div>
  </div>    
</div>
{{end}}
