{{define "body"}}
{{$page := .}}
<script>
$(document).ready(function() {
   $('#infotab ul li a').click(function() {
     $('#infotab ul li').removeClass('selected');
     $(this).parent().addClass('selected');
     var newTab = $(this).attr('href');
     $('#infotab div.tabpanel').hide();
     $(newTab).addClass('selected');
     $(newTab).show();
   });
 });
</script>
<div id="home" class="services" style="height: 280px">
  <div class="headline">
    <h1>BlackListMe</h1>
    <h2>Keep my old address out of the inbox</h2>
  </div>
</div>  
<div id="infotab">
  <div class="tablist">  
  <span class="label">Services:</span>
  <ul>
    <li class="tab {{if .Tab1}}selected{{end}}"><a href="#tab1">Email BlackList</a></li>
    <li class="tab {{if .Tab2}}selected{{end}}"><a href="#tab2">Domain BlackList</a></li>
    <li class="tab {{if .Tab3}}selected{{end}}"><a href="#tab3">Private BlackList</a></li>
    <li class="tab {{if .Tab4}}selected{{end}}"><a href="#tab4">API</a></li>    
  </ul>
  </div>
  <div class="tabpanel selected" id="tab1">
    <div class="headline"><h2>Email BlackList Service</h2></div>
    <div class="gridrow">
      <div class="griditem"><h3>What</h3>
        <p>Input your old email address and allow us to tell other legitimate email services that it is no longer valid.  You are performing a service to others, helping them identify spam.</p>
      </div>
      <div class="griditem"><h3>How</h3>
        <p>Use our home page to enter the address. We will send you an email with a confirmation URL.  Click on that URL and we take it from there. If it is used in future email, it can be considered spam.</p>
      </div>
      <div class="griditem"><h3>Cost</h3>
        <p>There is no charge for retiring an email address.  This is a free service.</p>
      </div>
    </div>
  </div>
  <div class="tabpanel" id="tab2">
    <div class="headline"><h2>Domain BlackList Service</h2></div>
    <div class="gridrow">
      <div class="griditem"><h3>What</h3>
        <p></p>
      </div>
      <div class="griditem"><h3>How</h3>
        <p></p>
      </div>
      <div class="griditem"><h3>Cost</h3>
        <p></p>
      </div>
    </div>
  </div>
  <div class="tabpanel" id="tab3">
    <div class="headline"><h2>Private BlackList Service</h2></div>
    <div class="gridrow">
      <div class="griditem"><h3>What</h3>
        <p>If you manage an email server and consistently see certain FROM addresses arriving as spam, then a private list allows you to simplify your spam identification.</p>
      </div>
      <div class="griditem"><h3>How</h3>
        <p>Register for an account with BlackListMe and start adding icky addresses right away.  It is your private list.  These addresses will not be shared with any other BlackListMe users.</p>
      </div>
      <div class="griditem"><h3>Cost</h3>
        <p>There is no charge for creating a list of spammy FROM addresses.</p>
      </div>
    </div>
  </div>
  <div class="tabpanel" id="tab4">
    <div class="headline"><h2>API</h2></div>    
    <div class="gridrow">
      <div class="griditem"><h3>What</h3>
        <p></p>
      </div>
      <div class="griditem"><h3>How</h3>
        <p></p>
      </div>
      <div class="griditem"><h3>Cost</h3>
        <p></p>
      </div>
    </div>
  </div>
</div>
{{end}}
