{{define "body"}}
{{$page := .}}
<div id="home" class="services" style="height: 280px">
  <div class="headline">
    <h1>BlackListMe</h1>
    <h2>Keep my old address out of the inbox</h2>
  </div>
</div>  
<div id="infotab">
  <div class="tablist">  
  <span class="label">Services:</span>
  <ul>
    <li class="tab {{if .Tab1}}selected{{end}}"><a href="#tab1">Email BlackList</a></li>
    <li class="tab {{if .Tab2}}selected{{end}}"><a href="#tab2">Domain BlackList</a></li>
    <li class="tab {{if .Tab3}}selected{{end}}"><a href="#tab3">Private BlackList</a></li>
    <li class="tab {{if .Tab4}}selected{{end}}"><a href="#tab4">API</a></li>
    <li class="tab {{if .Tab5}}selected{{end}}"><a href="#tab5">Pricing</a></li> 
  </ul>
  </div>
  <div class="tabpanel {{if .Tab1}}selected{{end}}" id="tab1">
    <div class="gridbox">
      <ul>
        <li>BlackListMe maintains a database of retired email addresses</li>
        <li>BlackListMe maintains a database of known spammer email addresses</li>        
        <li>Anyone may add or remove an address from this list at any time with confirmation</li>
        <li>Email servers and services may query our database to improve their spam filtering</li>
      </ul>
    </div>
  </div>
  <div class="tabpanel {{if .Tab2}}selected{{end}}" id="tab2">
    <div class="gridbox">
      <ul>
        <li>BlackListMe maintains a database of retired email addresses</li>
        <li style="background-color: #fff;">Verified domain owners may add and remove addresses in the database</li>
        <li style="background-color: #fff;">Use this to keep ex-employee email addresses from becoming spam sources</li>
        <li style="background-color: #fff;">Keep unused addresses (like copier@yourdomain.com) from becoming spam sources</li> 
        <li>Email servers and services will query our database to improve their spam filtering</li>
      </ul>
    </div>
  </div>
  <div class="tabpanel {{if .Tab3}}selected{{end}}" id="tab3">
    <div class="gridbox">
      <ul>
        <li>BlackListMe maintains a database of spammy email addresses</li>
        <li style="background-color: #fff;">Registered account users may add unverified addresses to a private list</li>
        <li style="background-color: #fff;">Use this list to help filter spam from sources you do not control</li>
        <li>Your Email servers will query our database and can filter based on private and public blacklists</li>
      </ul>
    </div>
  </div>
  <div class="tabpanel {{if .Tab4}}selected{{end}}" id="tab4">
    <div class="gridbox">
      <ul>
        <li>BlackListMe maintains a database of spammy email addresses</li>
        <li>Email servers may query our database with a REST API</li>
        <li>A SpamAssassin plug-in is available here:&nbsp;&nbsp;<a href="{{.Vw.Base}}docs/api">SpamAssassin Plug-In</a></li>
        <li>Developers are free to use the API to enhance their own spam filtering systems</li>
        <li>Documentation for our API can be found here:&nbsp;&nbsp;<a href="{{.Vw.Base}}docs/api">REST API</a></li>
      </ul>
    </div>
  </div>
  <div class="tabpanel {{if .Tab5}}selected{{end}}" id="tab5">
    <div class="gridbox">
      <ul>
        <li>BlackListMe is a non-profit organization</li>
        <li>We ask for payment to keep this service running based upon the number of end users in your organization</li>
        <li>There is a 30 day free trial period</li>
      </ul>
      <table style="margin-left: 40px;">
        <tr><td style="text-align: left;">Users</td>
          {{range .Prices}}<td>{{.UserCount}}</td>{{end}}
        </tr>
        <tr><td style="text-align: left;">1 Year of API Query Service</td>
          {{range .Prices}}<td>{{.DisplayCharge}}</td>{{end}}
        </tr>
{{if .Vw.Useremail}}
        <form action="{{.Vw.Base}}payment/enroll" id="paypars" method="POST">
          <tr><td style="text-align: center;"><button id="stripemodal" class="payment">Pay Now</button></td>
            {{range $ix,$el := .Prices}}<td><input type="radio" name="payamount" value="{{$el.StripeCharge}}" {{if eq $ix 1}}checked{{end}}></td>{{end}}
          </tr>
        <input type="hidden" name="token" value="">
        </form>        
{{end}}
      </table>
    </div>
  </div>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
{{if .Vw.Useremail}} 
 var handler = StripeCheckout.configure({
   key: {{.Stripe_api_key}},
   image: "{{.Vw.Base}}img/groundy148.png",
   locale: "auto",
   email: "{{.Vw.Useremail}}",
   allowRememberMe: false,
   token: function(token) {
     document.getElementById("paypars").elements["token"].value = token.id;
     document.getElementById("paypars").submit();
   }
 });
{{end}} 
 $(document).ready(function() {
   $('#infotab ul li a').click(function() {
     $('#infotab ul li').removeClass('selected');
     $(this).parent().addClass('selected');
     var newTab = $(this).attr('href');
     $('#infotab div.tabpanel').hide();
     $(newTab).addClass('selected');
     $(newTab).show();
   });
{{if .Vw.Useremail}}    
   document.getElementById('stripemodal').addEventListener('click', function(e) {
     handler.open({ name: 'BlackListMe', description: '1 Year API Query Service', zipCode: true,
                    amount: parseInt(document.getElementById("paypars").elements["payamount"].value, 10),
     });
     e.preventDefault();
   });
   window.addEventListener('popstate', function() {
     handler.close();
   });
{{end}}
 });
</script>
{{end}}
