{{define "body"}}
{{$page := .}}
<div id="ulist">
  {{template "umenu" .}}
  <div id="ucontent">
    {{if .Vw.FlashMsg}}<div id="flash">{{.Vw.FlashMsg}}</div>{{end}}
    <h2>Domain <u>{{.Dname}}</u> BlackList</h2>
    <div style="width: 75%"></div>
    <br>
    <a class="btn gomodaladd">Add An Address</a>
{{if .ElistCount}}
    <div style="padding-top: 24px;">
      <table id="emtab" class="emtable">
        <tr class="head"><td><a class="btn embtn" >Email Address&nbsp;&nbsp;<span id="c1"></span></a></td><td><a class="btn dtbtn">Date Added&nbsp;&nbsp;<span id="c2"></span></a></td></tr>
      </table>
    </div>
{{else}}
    <div><p>No email addresses defined.</p></div>
{{end}}
  </div>    
</div>
<div id="modaladd" class="modal">
  <div class="gridwrap">
    <div class="acct">
      <h3>Add An Email Address to your {{.Dname}} Domain BlackList</h3>
      <form name="email" action="{{.Vw.Base}}dlist/elistadd" method="POST" onsubmit="return validateForm('email')">
        <input type="hidden" name="dname" value="{{.Dname}}">        
        <ul>
          <li>You may add an email address to this list at any time.</li>
          <li>
            <label>Email</label>
            <input name="email" type="text" maxlength="32" placeholder="Email" autocomplete="off" autocapitalize="off" autocorrect="off" autofocus value="@{{.Dname}}">
            <span id="email.errlabel" class="errlabel"></span>
          </li>
          <li class="fielderror" id="email.error"></li>
          <li class="center"><button type="submit">Add Address</button><a class="cancel unmodaladd">Cancel</a></li>
        </ul>
      </form>
    </div>
  </div>    
</div>
<div id="modaldel" class="modal">
  <div class="gridwrap">
    <div class="acct">
      <h3>Remove an Email Address from {{.Dname}} Domain BlackList</h3>
      <form name="emaildel" action="{{.Vw.Base}}dlist/elistdel" method="POST">
        <input type="hidden" name="dname" value="{{.Dname}}">                
        <ul>
          <li>You may remove an email address from this list at any time.</li>
          <li><label>Email</label><input name="email" type="text" readonly ></li>
          <li class="center"><button type="submit">Remove Address</button><a class="cancel unmodaldel">Cancel</a></li>
        </ul>
      </form>
    </div>
  </div>    
</div>

<script src="{{.Vw.Base}}js/emtable.js" type="text/javascript"></script>
<script type="text/javascript">
  var plist = [
  {{with .Elist}}{{range .}}{ em: "{{.Email}}", dt: "{{.Created}}" },
  {{end}}{{end}}
  ];
  var plist_len = {{.ElistCount}};
  var plistByEmail = plist.slice(0);
  plistByEmail.sort(function(a,b) {
  var x = a.em;
  var y = b.em;
  return (x<y)? -1: (x>y)? 1 : 0;
  });
  var plistByDate = plist.slice(0);
  plistByDate.sort(function(a,b) {
  return a.dt - b.dt;
  });
  
$(document).ready(function() {
   var el = document.getElementById("flash");
   if (el != undefined) {
     el.style.opacity = 0;
     el.style.height = 0;
     el.style.padding = 0;
   }
   emTableInit();
});
</script>
{{end}}
