{{define "body"}}
{{$page := .}}
<div id="ulist">
  {{template "umenu" .}}
  <div id="ucontent">
    {{if .Vw.FlashMsg}}<div id="flash">{{.Vw.FlashMsg}}</div>{{end}}
    <div class="utable">
    <h1>Domain BlackLists</h1>
    <div class="row">This is a list of domains that are under your control.  You may add and remove individual addresses within these domains from our blacklist.  You may also add and remove specific domains from your control after email confirmation.</div>
    <div class="row"><hr class="hrg"></div>
    <div class="row"><a class="btn gomodaladd">Add A Domain</a></div>
    <div class="row"><hr></div>
{{if .DlistCount}}    
    <div class="row">
      <div class="cell w50"><strong>Domain Name</strong></div>
      <div class="cell w20"><strong>Status</strong></div>
      <div class="cell w10">&nbsp;</div>
      <div class="cell w10">&nbsp;</div>      
    </div>
    <div class="row"><hr></div>
    {{with .Dlist}}{{range .}}<div class="row">
      <div class="cell w50">&nbsp;&nbsp;<strong>{{.Domain}}</strong></div>
      {{if .Confirm}}
      <div class="cell w20">Active</div>
      <div class="cell w10"><a class="btn" onclick="gomodaldel({{.Domain}});">Delete</a></div>
      <div class="cell w10"><a class="btn" href="{{$page.Vw.Base}}dlist/elist?dname={{.Domain}}">Manage</a></div>
      {{else}}
      <div class="cell w20" title="awaiting email confirmation">Pending</div>
      <div class="cell w10"><a class="btn" onclick="gomodaldel({{.Domain}});">Delete</a></div>
      <div class="cell w10"><span title="awaiting email confirmation" class="graybtn">Manage</span></div>      
      {{end}}
    </div>
    <div class="row"><hr class="hrg"></div>{{end}}{{end}}
{{else}}
    <div class="row"><p>You do not currently have any domains under your BlackList control.</p></div>
{{end}}
    </div>    
  </div>
</div>
<div id="modaladd" class="modal">
  <div class="gridwrap">
    <div class="acct">
      <h3>Add A Domain to your BlackList Control</h3>
      <form name="domainform" action="{{.Vw.Base}}dlist/add" method="POST" onsubmit="return validateForm('domainform')">
        <ul>
          <li>You may request the addition of a domain to your control here.  We will send a confirmation email to the Registrar's Technical contact address of record for the domain.  Please follow the link in that email to complete the domain validation.</li>
          <li>
            <label>Domain Name</label>
            <input name="domain" type="text" maxlength="60" placeholder="Domain Name" autocomplete="off" autocapitalize="off" autocorrect="off" autofocus >
            <span id="domain.errlabel" class="errlabel"></span>
          </li>
          <li class="fielderror" id="domain.error"></li>
          <li class="center"><button type="submit">Add Domain</button><a class="cancel unmodaladd">Cancel</a></li>
        </ul>
      </form>
    </div>
  </div>    
</div>
<div id="modaldel" class="modal">
  <div class="gridwrap">
    <div class="acct">
      <h3>Remove a Domain from your BlackList Control</h3>
      <form name="domaindel" action="{{.Vw.Base}}dlist/del" method="POST">
        <ul>
          <li>You may remove a domain from this list at any time.  When you remove the domain all of its associated email addresses will be deleted from the database.</li>
          <li><label>Domain Name</label><input name="domain" type="text" readonly ></li>
          <li class="center"><button type="submit">Remove Domain</button><a class="cancel unmodaldel">Cancel</a></li>
        </ul>
      </form>
    </div>
  </div>    
</div>

<script type="text/javascript">
 function gomodaldel(val) {
   document.forms["domaindel"].domain.value = val;
   document.getElementById("modaldel").style.display = "block";
 }
$(document).ready(function() {
   var el = document.getElementById("flash");
   if (el != undefined) {
     el.style.opacity = 0;
     el.style.height = 0;
     el.style.padding = 0;
   }   
   $(".gomodaladd").click(function(ev) {
     ev.preventDefault();
     document.getElementById("modaladd").style.display = "block";
   });
   $(".unmodaladd").click(function(ev) {
     ev.preventDefault();
     document.getElementById("modaladd").style.display = "none";
   });
   $(".unmodaldel").click(function(ev) {
     ev.preventDefault();
     document.getElementById("modaldel").style.display = "none";
   });
});
</script>
{{end}}
