{{define "body"}}
{{$page := .}}
<script src="{{.Vw.Base}}js/accvallib.js"></script>
<nav class="breadcrumbs">
  <p><a href="{{.Vw.Base}}ulist/profile">My Account</a>&nbsp;&nbsp;&#8594;&nbsp;<strong>Modify Password</strong></p>
</nav>
<div class="gridwrap">
  <div class="acct">
    <h3>Change Your Password</h3>
    <form name="cpassword" action="{{.Vw.Base}}account/password" method="POST" onsubmit="return validateForm('cpassword')">
    <input type="hidden" name="stateToken" value="{{.Av.StateToken}}">
    <ul>
      <li>You may update your password any time.  We suggest you choose a strong password and update it regularly, every 6 months or so.  All passwords must contain at least 8 characters.  We strongly suggest you use at least one capital, one number and one special symbol (#, ^, %, etc.) for the best strength.</li>
      <li>
        <label>New Password</label>
        <input name="password" type="password" placeholder="New Password" autocomplete="off">
        <span id="password.errlabel" class="errlabel">{{.Av.ErrorLabel.Password}}</span>
      </li>
      <li class="fielderror" id="password.error">{{.Av.Error.Password}}</li>
      <li>
        <label>Confirm New Password</label>
        <input name="passagain" type="password" placeholder="Confirm New Password" autocomplete="off">
        <span id="passagain.errlabel" class="errlabel">{{.Av.ErrorLabel.Passagain}}</span>
      </li>
      <li class="fielderror" id="passagain.error">{{.Av.Error.Passagain}}</li>      
      <li style="background: #f2f2f2">
        <label>Current Password</label>
        <input name="oldpassword" type="password" placeholder="Password" autocomplete="off">
        <span id="oldpassword.errlabel" class="errlabel">{{.Av.ErrorLabel.Oldpassword}}</span>
      </li>
      <li class="fielderror" id="oldpassword.error">{{.Av.Error.Oldpassword}}</li>
      <li class="center"><button type="submit">Save Changes</button><a class="cancel" href="{{.Vw.Base}}ulist/profile">Cancel</a></li>
    </ul>
    </form>
  </div>
</div>
{{end}}
