{{define "body"}}
{{$page := .}}
<nav class="breadcrumbs">
  <p><a href="{{.Vw.Base}}">My Account</a>&nbsp;&nbsp;&#8594;&nbsp;<strong>Registration In Progress</strong></p>
</nav>
<div class="gridwrap">
  <div class="acct">
    <h3>Registration Email Sent</h3>
    <ul>
      <li>A registration email has been sent to the address you provided.  In order to log in to BlackListMe you must visit the URL provided in this email.  Thank you for registering.</li>
    </ul>
  </div>
</div>
{{end}}
